/*----------Universal------------*/

*{
    box-sizing:border-box;
}

/*----------Basic------------*/

body{
    font-family: Sans-serif;
    margin:0;
}


p,
ul{
    font-size:.8em;
}

h1, h2{
    font-family: "Open Sans", Sans-serif;
    font-size:.8em;
}

a{
    text-decoration: none;
    display:inline-block;
    width:100%;
    height:100%;
}

h1{
    font-size:2em;
}

h2{
    font-size:1.7em;
}

img{
    width:100%;
}

h1,
h2,
p,
ul,
.footer{
    text-align: center;
}


/*----------Nagivation------------*/

.navigation{
    background-color:black;
}

.navigation ul,
.navigation li{
    text-transform: uppercase;
}

.navigation h1{
    text-transform: uppercase;
    margin: 0.25em 0;
}

.navigation ul{
    padding: .25em 0;
    margin: 0;
    color:white;
}

.navigation li{
    list-style: none;
}

.navigation a{
    padding-top:.25em;
    padding-bottom:.25em;
}


.navigation a:link,
.navigation a:active,
.navigation a:visited{
    color:white;
}

.navigation li a:hover{
    color:tomato;
}


/*----------Header------------*/


.footer{
    background-color:tomato;
    color:white;
}

.header-primary{
    padding: 1em 1em;
    height:450px;
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(1,1,1,0) 100%), url("http://i.huffpost.com/gen/1555477/images/o-WORKING-OUT-GYM-facebook.jpg");
    background-size:cover;
}

.header h2{
    font-size: 2.5em;
    margin:2em 0 0;
    color:rgba(255,255,255,1);
}

.header p{
    margin-bottom: 2.5em;
    color:rgba(255,255,255,.7);
}

.footer{
    padding: 1em;
}

/*----------Columns/Layout------------*/


.wrapper{
    width:100%;
}

.tertiary,
.col,
.primary,
.navigation{
    padding:1em 1em;
}

.clearfix{
    clear:both;
}



/*----------Media Queries------------*/

@media (min-width: 600px){
    
/*----------Columns------------*/
    
    .primary{
        float:left;
        width:50%;
    }
    
    .secondary{
        float:right;
        width:50%;
    }

    .main-content{
        width:90%;
        margin: auto;
    }
    
    .main-content h2,
    .main-content p{
        text-align:left;
    }
    
/*----------Layouts------------*/
    
    .main-content img{
        width:250px;
        height:250px;
        display:block;
        margin: auto;
    }
    
    .navigation{
        padding:1.8em 2em 1em;
        background:black;
    }
    
    .navigation h1{
        margin:0 auto;
        font-size:1em;
        float:left;
    }
    
    .navigation li{
        margin-left:1em;
    }
    
    .navigation ul,
    .navigation li{
        float:right;
    }
    
    .navigation h1,
    .navigation ul,
    .navigation li{
        display:inline-block;
    }
    
    .navigation h1,
    .navigation a{
        color:white;
    }
    
    .clearfix2:after{
        content: " ";
        display:table;
        clear:both;
    }
    
}

