/*----------Universal------------*/

*{
    box-sizing:border-box;
}

/*----------Basic------------*/

body{
    font-family: Sans-serif;
    margin:0;
}


p,
ul{
    font-size:1em;
}

h1, h2{
    font-family: "Open Sans", Sans-serif;
}

a{
    text-decoration: none;
    display:inline-block;
    width:100%;
    height:100%;
}

a:link,
a:active,
a:visited{
    color:black;
}

a:hover{
    color:tomato;
}


h1{
    font-size:2em;
}

h2{
    font-size:1.7em;
}

img{
    width:100%;
}

h1,
h2,
p,
ul,
.footer{
    text-align: center;
}


/*----------Nagivation------------*/

.navigation ul,
.navigation li{
    text-transform: uppercase;
}

.navigation h1{
    text-transform: uppercase;
    margin: 0.25em 0;
}

.navigation ul{
    padding: .25em 0;
    margin: 0;
}

.navigation li{
    list-style: none;
}

.navigation a{
    padding-top:.25em;
    padding-bottom:.25em;
}


/*----------Header------------*/

.header,
.footer{
    background-color:tomato;
    color:white;
}

.header-primary{
    padding: 1em 1em;
}

.header h2{
    font-size: 2.5em;
    margin:1em 0 0;
}

.header p{
    margin-bottom: 2.5em;
}

.footer{
    padding: 1em;
}

/*----------Columns/Layout------------*/


.wrapper{
    width:100%;
}

.tertiary,
.col,
.primary,
.navigation{
    padding:1em 1em;
}
    
.clearfix::after{
    content=" ";
    display:table;
    clear:both;
}

/*----------Media Queries------------*/

@media (min-width: 600px) and (max-width: 960px){
    
/*----------Columns------------*/
    
    .primary{
        float:left;
        width:50%;
    }
    
    .secondary{
        float:right;
        width:50%;
    }

    .main-content{
        width:90%;
        margin: auto;
    }
    
    .main-content h2,
    .main-content p{
        text-align:left;
    }
    
/*----------Layouts------------*/
    
    .main-content img{
        width:250px;
        height:250px;
        display:block;
        margin: auto;
    }
    
    .navigation h1{
        display:inline-block;
        float:left;
    }
    
    .navigation ul,
    .navigation li{
        display:inline-block;
        float:right;
    }
    
}

@media (min-width: 961px){
    
}